*{
    scroll-behavior: smooth;
}

body{
    background-color: #4e4f50;
    color: #fff;
    box-sizing: border-box;
    width:99%;
    margin: -25px 5px;
}

header{
    background-color: #4e4f50;
    color: #fff;
    border:1px solid #fff ;
    display: flex;
    margin: 30px 0px 10px 0px;
    justify-content: space-between;
    padding: 20px;
}
header img {
    display:block;
    padding: 20px;
    width: 40%;
    height: auto;

}

nav{
    background-color: #4e4f50;
    color: #fff;
    border:1px solid #fff ;
    width:100%;
    position:fixed ;
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}
audio{
    height: 25px;
    background-color: #4e4f50;
    color: #4e4f50;
}
main{
    background-color: #4e4f50;
    color: #fff;
    border:1px solid #fff ;
    display: flex;
    width:100%;
}
section{
    background-color: #4e4f50;
    color: #fff;
    border:1px solid #fff ;
}
aside{
    background-color: #4e4f50;
    color: #fff;
    border:1px solid #fff ;
}

footer{
    background-color: #4e4f50;
    color: #fff;
    border:1px solid #fff ;
    display:flex;
    justify-content: space-around
}

a{
    color: #000;
    margin: 6px;
    text-decoration: none;
}
a img{
    width: 30px;
    border:3px solid #4e4f50 ;
}
section img{
    width:100px;
}
#sobri{
    border-radius: 20%;
    width:50%;
    margin:auto;
}
p{
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
}